.navbar {
  max-width: 400px;
  border-top: 1px solid #ddd;
  background-color: #fff !important;
  width: 100% !important;
  .container {
    .wrapper {
      width: 100% !important;
      display: inline-flex !important;
      flex-direction: row !important;
      justify-content: space-around !important;
      .navbar-nav-item {
        padding-top: 2px;
        padding-bottom: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .navbar-link{
          color: #c4c4c4;
          text-decoration: none !important;
          &.active {
            color: #222222;
          }
        }
      }
    }
  }
}